
body { 
    width: 700px;
    margin: auto;
    background-color: navy;
}

html {
    background-color: lightgray; 
}

header{
    
    background-color: orangered;
    color: whitesmoke;
    text-align: center;
}

footer{
    text-align: center;
    color: whitesmoke;
    background-color: orangered;
    position: absolute;
    bottom: 0;
    width: 700px;
}

h1{
    text-align: center;
}

#menu ul li { 
    display: inline;    
}

#menu ul {
    padding: 0px;
    margin-top: auto;
    float: left;
    width: 700px;
    background-color: orangered;
    list-style: none; 
}

#menu ul li a {
    padding: 2px 10px;
    float: left;
    /* visual do link */
    background-color: orangered;
    color: whitesmoke;
}

#menu ul li a:hover {
    color: whitesmoke;
}